[Unit]
Description=OBC Python service entry point
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/.virtualenvs/cv/bin/python dir/obc.py
Restart=on-failure

[Install]
WantedBy=multi-user.target